@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("userstyles.org")
{
  /*
   * Top banner
   */
  body
  {
    margin: 0px;
    background-color: #fdfdfd;
    max-width: none !important;
  }
  #main-header
  {
    background-color: #f4f4f4;
    padding: 16px 10px 16px 250px;
    color: #444;
    font-weight: none;
    box-shadow: 0px 2px 2px #aaa;
    margin: 0;
    border-radius: 0;
  }
  #main-header h1 a
  {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 16px 25px 16px 25px;
    border-right: 1px solid #DDD;
    text-decoration: none;
    background-color: #fff;
    /* LOGO
    color: transparent;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Stylish_SVG_Logo.svg/256px-Stylish_SVG_Logo.svg.png");
    background-repeat : no-repeat;
    background-position: center 6px;
    background-size: 40px 40px;
    */
    /* TEXT
    */
    color: #444;
  }
  #main-header h1 a:hover
  {
    /* LOGO
    color: transparent;
    */
    color: initial;
  }

  /*
   * Left menu
   */
  #left-sidebar
  {
    position: fixed;
    top: 65px;
    left: 0px;
    padding: 0px;
    width: 220px;
    height: 100%;
    border-right: 1px solid #DDD;
    background-color: #FFF;
    margin: 0;
    padding: 0;
  }
  #left-sidebar nav
  {
    margin: 0;
    height: 80%;
    padding: 15px;
    border-top: 1px solid #DDD;
    border-radius: 0;
    background-color: transparent;
  }
  #sidebar-search #search-terms
  {
    width: 100%;
    height: 32px;
    float: none;
  }
  #sidebar-search #search-submit
  {
    position: absolute;
    right: 15px;
    float: none;
    margin: 0;
    margin-top: 0;
    width: 36px;
    height: 32px;
    border: none;
    background: none;
    background-color: transparent;
    color: transparent;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/75/Ico_search_mobile.png");
    background-repeat : no-repeat;
    background-position: center center;
  }
  #sidebar-search #search-submit:hover
  {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #db8;
    cursor: pointer;
  }
  #sidebar-search #show-advanced-search
  {
    text-decoration: none !important;
    margin-top: 2px;
    color: #222;
  }
  #left-sidebar li
  {
    font-weight: bold;
    margin-bottom: 24px;
  }
  #left-sidebar li a
  {
    color: #444;
    text-decoration: none;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  #sidebar-search
  {
    margin-top: 16px !important;
    margin-bottom: 36px !important;
  }
  #related
  {
    position: absolute;
    bottom: 96px;
    border-radius: 0;
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid #aaa;
    font-size: 0.8em;
    background-color: transparent;
  }
  #related h2
  {
    margin-bottom: 16px;
  }
  #related li
  {
    margin-bottom: 4px;
  }
  #related .more
  {
    margin-top: 12px;
    border: none;
  }
  @media (max-width: 900px)
  {
    #left-sidebar
    {
      float: none !important;
      width: 200px !important;
      margin: 0 !important;
    }
    #sidebar-search #search-terms
    {
      width: 100% !important;
    }
    #sidebar-search #show-advanced-search
    {
      text-align: right !important;
    }
  }

  /*
   * Right panel
   */
  #left-info
  {
    position: absolute;
    top: 90px;
    right: 20px;
    width: 240px;
    height: 220px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #aaa;
    background-color: #fff;
  }
  #left-info #screenshots
  {
    border-radius: 0px;
    border: none;
    padding: 10px;
  }
  .screenshot-thumbnail
  {
    overflow-y: unset;
  }
  .screenshot-thumbnail img
  {
    max-width: 220px;
  }
  #more-screenshots
  {
    margin-top: 8px;
    margin-bottom: 4px;
    border: none;
  }
  #info-tables
  {
    position: absolute;
    top: 238px;
    right: 20px;
    width: 240px;
    padding-bottom: 30px;
    border-radius: 0px;
    box-shadow: 0px 2px 2px #aaa;
    background-color: #fff;
  }
  #info-tables #style-author-info
  {
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 4px;
    width: 220px;
  }
  #info-tables #style-author-info tr td:last-child
  {
    width: 100%;
    white-space: nowrap;
  }
  #info-tables #style-author-info td
  {
    text-align: right;
  }
  #info-tables #style-install-info
  {
    margin: 10px;
    margin-top: 0;
    padding-top: 4px;
    width: 220px;
    border-top: 1px solid #eee;
  }
  #info-tables #style-install-info tr td:last-child
  {
    width: 100%;
    white-space: nowrap;
  }
  #info-tables #style-install-info td + td /* all but last, [show/hide css] */
  {
    text-align: right;
  }
  .install,
  .install-info
  {
    background-image: none;
  }
  .install:hover,
  .install-info:hover
  {
    background-image: none;
  }
  .install-status
  {
    position: absolute;
    z-index: 10;
    top: 410px;
    right: 20px;
    width: 208px;
    max-width: 240px;
    border-radius: 0px;
    border-bottom-right-radius:2px;
    border-bottom-left-radius:2px;
    box-shadow: 0px 2px 2px #aaa;
    font-size: 0.9em;
  }

  /*
   * Content
   */
  #content-wrapper
  {
    float: none;
    margin-left: 220px;
    width: initial;
  }
  #main-article
  {
    margin-left: 0;
    margin: auto;
    padding: 20px;
    padding-top: 24px;
    max-width: none;
  }
  #main-style-info
  {
    margin: 0;
    margin-right: 240px;
    padding: 0;
    padding-right: 20px;
    min-height: 396px;
  }
  #additional-info
  {
    margin: 0;
    padding: 0;
  }
  #additional-info-text
  {
    max-height: none;
  }
  #discussions-area
  {
    margin: 0;
    padding: 0;
  }
  section h2
  {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
  }
  #view-code
  {
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Consolas, Verdana, sans-serif;
  }

  /*
   * Footer
   */
  div + footer
  {
    position: fixed;
    width: 200px;
    left: 0px;
    bottom: 0px;
  }
  div + footer a
  {
    margin-left: 15px;
    color: #222;
    text-decoration: none;
  }
}
